@import '../node_modules/bootstrap/scss/bootstrap.scss';

// ----------------------- Color Variable --------------------------
$primary: #A8CF45;
$secondary: #202427;
$black-dark: #252525;

// ----------------------- Importing font --------------------------
@font-face {
    font-family: 'muli';
    src: url('/fonts/Muli.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'muli_light';
    src: url('/fonts/Muli\ Light.ttf');
    font-style: normal;
}


// ----------------------- Declared Classes --------------------------
.font_muli {
    font-family: 'muli' !important;
}

.font_muli_light {
    font-family: 'muli_light' !important;
}

.home_bg_cover {
    background: url(/img/bg_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 5%;
    min-height: 100vh;
}

.clear_line_height {
    line-height: unset !important;
}

.radio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: .5rem;
    padding-top: .5rem;
    background: url('/img/player_bg.jpg') fixed no-repeat center;
    overflow: hidden;
    box-shadow: 0px -3px 6px rgba($color: #000000, $alpha: .5);
}
.radio-player:before {
    content: '';
    position: absolute;
    height: calc(100% + 50px);
    width: calc(100% + 50px);
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(5px);
}

.play-pause-btn {
    display: flex;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    transition: .1s all ease-in-out;

    span {
        transition: .1s all ease-in-out;
    }
}

.cursor_pointer {
    cursor: pointer;
}

.text_dark {
    color: $black-dark !important;
}




// ----------------------- Modifying --------------------------
body {
    color: white;
    font-family: 'muli';
}

@include media-breakpoint-only(xs) {
    .navbar {
        background-color: $secondary;     
        box-shadow: 3px 6px 10px rgba($color: #000000, $alpha: .5);
    }
}